/* base16_firefox - userContent */

:root {
    /* start colors */
--base00: #161616;
--base01: #262626;
--base02: #393939;
--base03: #525252;
--base04: #dde1e6;
--base05: #f2f4f8;
--base06: #ffffff;
--base07: #08bdba;
--base08: #3ddbd9;
--base09: #78a9ff;
--base0A: #ee5396;
--base0B: #33b1ff;
--base0C: #ff7eb6;
--base0D: #42be65;
--base0E: #be95ff;
--base0F: #82cfff;
    /* end colors */

    --newtab-background-color: var(--base01) !important;
    --newtab-background-color-secondary: var(--base02) !important;
    --newtab-text-primary-color: var(--base05) !important;
    --newtab-text-secondary-text: var(--base04) !important;
    --newtab-wallpaper-color: var(--base01) !important;
}

body {
    border: none;
}
